# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def

# Executables
*.exe
*.out
*.app

simulation
OptionsFormat.md

# Emscripten build artifacts
*.mem
*.bc

# IDE directories
.vscode/
*.code-workspace

# Miscellaneous
*.log
*.tmp
*.swp
.DS_Store

# Binary files
*.bin

# Other build directories
# /build/
/dist/
/bin/
/obj/

# CMake files
CMakeFiles/
CMakeCache.txt
